:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-form {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f56b6;
  padding: 5px;
  box-shadow: 0 5px 5px lightgray;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.search-btn {
  height: 38px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #b9bac2;
}

.search-btn:hover {
  background-color: #172a79;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.loaderBtn {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #b9bac2;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.loaderBtn:hover {
  background-color: #172a79;
}

input {
  width: 300px;
  height: 30px;
  padding: 4px;
  font: inherit;
  border: 0;
  border-radius: 4 0 0 4;
  outline: 0;
  border: none;
}

.gallery {
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.photo-card {
  width: 400px;
  height: 300px;
  margin: 20px;

  border-radius: 10px;
  overflow: hidden;
  background-color: #b9bac2;
  color: white;
  transition: all 0.3s ease;
}

.photo-card:hover {
  scale: 1.1;
  background-color: #172a79;
  box-shadow: 1px 1px 10px grey;
}

.photo-card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 220px;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 5px;
}
.info-item {
  justify-content: center;
  font-size: 15px;
}

.info-item__descriptions {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: center;
}

.info-item__count {
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
}

.is-hidden {
  display: none;
}
